body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #5C5470; /* Cambia el color de fondo a uno más atractivo */
}
#movie-info {
  max-width: 500px;
  margin: 0 auto;
  background-color: #5C5470;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Agrega una sombra al contenedor */
  animation: fade-in 0.5s ease-in-out; /* Agrega una animación de entrada */
}
#movie-info img {
  max-width: 200px; /* Reducir el tamaño de la imagen */
  height: auto;
  margin-right: 20px;
  float: left;
  border-radius: 5px;
  animation: scale-in 0.5s ease-in-out; /* Agrega una animación de escala */
}
#movie-info .movie-details {
  overflow: hidden; /* Evitar que el texto se desborde */
  margin-top: 25px; /* Ajusta el espacio entre la imagen y los detalles */
}
h1 {
  font-size: 32px;
  margin-bottom: 10px;
  color: #0F0101; /* Cambia el color del título */
  animation: fade-in 0.5s ease-in-out; /* Agrega una animación de entrada */
}
p {
  font-size: 17px;
  line-height: 1,4;
  color: #fff; /* Cambia el color del texto principal */
  animation: fade-in 0.5s ease-in-out; /* Agrega una animación de entrada */
}
.rating {
  font-size: 15px;
  color: #F8DE22; /* Cambia el color de la calificación */
  margin-top: 12px; /* Ajusta el espacio entre el título/descripción y la calificación */
  animation: fade-in 0.5s ease-in-out; /* Agrega una animación de entrada */
}
.repro { 
  width: 60%;
  height: 350px;
  border-radius: 5px;
  border: none;
  border-color: none;
  scrollig: no;  
}
.espacio {
  width: 100%; /* Ancho del espacio */
  height: 150px; /* Alto del espacio */
  margin: 29px; /* Márgenes del espacio */
}
.boton {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background-color: #4CAF50;
  color: white;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  margin-right: 10px;
  border-radius: 4px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  outline: none;
}

.boton:hover {
 background-color: #45a049;
}
.boton:active {
 transform: scale(0.95);
}
.espacio2 {
  width: 100%; /* Ancho del espacio */
  height: 100px; /* Alto del espacio */
  margin: 10px; /* Márgenes del espacio */
}
